@model BTLNHOM15.Models.GoiTap

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có muốn xoá không ?</h3>
<div>
    <h4>Gói tập</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaGoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGoi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaGoiTap" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Trở về</a>
    </form>
</div>
