@model BTLNHOM15.Models.GoiTap

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Gói tập</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="w3-card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaGoiTap" />
            <div class="form-group">
                <label asp-for="TenGoi" class="control-label"></label>
                <input asp-for="TenGoi" class="form-control" />
                <span asp-validation-for="TenGoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaGoi" class="control-label"></label>
                <input asp-for="GiaGoi" class="form-control" />
                <span asp-validation-for="GiaGoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
