@model BTLNHOM15.Models.ChucVu

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Chức vụ</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"class="w3-card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaChucVu" class="control-label"></label>
                <input asp-for="MaChucVu" class="form-control" />
                <span asp-validation-for="MaChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChucVu" class="control-label"></label>
                <input asp-for="TenChucVu" class="form-control" />
                <span asp-validation-for="TenChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
