@model BTLNHOM15.Models.TinhTrang

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá bỏ</h1>

<h3>Bạn có muốn xoá không</h3>
<div>
    <p>
        <a asp-action="Create" class="btn btn-success">Tình Trạng</a>
    </p>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenND)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoidungTT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoidungTT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaTinhTrang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Trở về</a>
    </form>
</div>
