@model BTLNHOM15.Models.ThietBi

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thiết bị</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="w3-card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaTB" class="control-label"></label>
                <input asp-for="MaTB" class="form-control" />
                <span asp-validation-for="MaTB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTB" class="control-label"></label>
                <input asp-for="TenTB" class="form-control" />
                <span asp-validation-for="TenTB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTinhTrang" class="control-label"></label>
                <select asp-for="MaTinhTrang" class ="form-control" asp-items="ViewBag.MaTinhTrang"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
