@model BTLNHOM15.Models.ThietBi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ThietBi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaTB" class="control-label"></label>
                <input asp-for="MaTB" class="form-control" />
                <span asp-validation-for="MaTB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTB" class="control-label"></label>
                <input asp-for="TenTB" class="form-control" />
                <span asp-validation-for="TenTB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giatien" class="control-label"></label>
                <input asp-for="Giatien" class="form-control" />
                <span asp-validation-for="Giatien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
